body {
  font-family: "Archivo", sans-serif;
  /* font-family: "Spectral", serif;*/
  font-size: 18px;
  color: black;
}
.primary-background {
  background-color: #2ecc71;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
  font-size: 20px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  font-size: 18px;
}

.footer {
  background-color: #5cc085;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: black;
}
.jumbotron {
  margin: 0px;
  background: white;
  color: rgb(22, 21, 21);
  font-weight: 400;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-light {
  background-color: #2ecc71;
  font-size: medium;
  color: black;
}
.link-text {
  color: "white";
}
